.header {
    height:770px;
    background: url('../../assets/banner.jpg');
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1000px) {
    .header {
        background: url('../../assets/banner-m.PNG');
        background-size:100%;
        height: 700px;
        background-repeat: no-repeat;
    }
}